body, h1, h2, h3, ul, li, p, dd, dt, dl {
  margin: 0px;
  padding: 0px;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

body {
  background: #292929;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 1600px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.header-bg {
  background: #141414;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header img {
  max-height: 200px;
  max-width: 200px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-menu li {
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  font-size: 1.25rem;
  display: inline-block;
}

.header-menu a {
  text-decoration: none;
  padding: 16px 0;
  color: #fff;
  position: relative;
}

.header-menu .menu-link::after {
  content: '';
  display: block;
  height: 2px;
  width: 0px;
  background: #fff;
  margin-top: 4px;
  transition: 0.3s;
}

.header-menu .menu-link:hover::after {
  width: 100%;
}

.header-menu .botao{ 
  background: #fb5;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: none;
  color: #292929;
  border-radius: 4px;
  padding: 16px 24px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .header-menu li {
    padding: 16px;
  }
  .header-menu a {
    background: #292929;
    border-radius: 4px;
    padding: 10px 16px;
  }
  .header-menu .botao {
    background: #292929;
    padding: 10px 18px;
    color: #fff;
  }
  .header-menu .menu-link::after {
    display: none;
  }
}

@media (max-width: 480px) {
  .header img {
    max-height: 50px;
    max-width: 50px;
    margin: 0 auto;
}
  .header-menu li {
    font-size: 1rem;
    padding: 30px 10px;
    align-items: center;
  }
}

.header-menu .botao:hover {
  color: #fff;
}

/** Background **/

.background-container {
  position: relative;
}

.background {
  display: grid;
  align-items: center;
  background-image: url(/img/background-main.png);
  background-size: cover;
  height: 700px;
}

.background-titulo {
  margin-left: 180px;
  text-transform: uppercase;
  border-left: 8px solid #fb5;
  padding-left: 12px;
}

.background h1 {
  font-size: calc(1rem + 2.5vw);
  color: #fff;
  font-family: 'Crimson Text', serif;
}

.background h2 {
  font-size: calc(1rem + 1vw);
  color: #fb5;
  font-family: 'Crimson Text', serif;
  font-style: italic;
}

.header-bg .balanca-icone img {
  left: 47%;
  bottom: -25px;
  position: absolute;
}

@media (max-width: 800px) {
  .background {
    height: 400px;
  }
  .background-titulo {
    justify-self: center;
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .background h1 {
    font-size: calc(1rem + 1.5vw);
  }
  .header-bg .balanca-icone img {
    height: 50px;
    width: 50px;
  }
}

/** Área de Atuação **/

.atuacao {
  margin-bottom: 130px;
  margin-top: 130px;
}

.atuacao h1 {
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  color: #fb5;
  text-transform: uppercase;
}

.atuacao h1::before {
  content: '';
  display: block;
  height: 8px;
  width: 60px;
  margin-bottom: 4px;
  background: #fb5;
}

.background-atuacao {
  background: #525252;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 4px 6px;
  margin-top: 60px;
  padding-bottom: 60px;
  margin-left: 100px;
  max-width: 1400px;
}

.background-atuacao h2 {
  text-align: center;
  color: #fb5;
  text-transform: uppercase;
  font-size: 1.75rem;
  font-family: 'Poppins', sans-serif;
  padding-top: 30px;
}

.background-atuacao a {
  display: block;
  padding: 12px 16px;
  max-width: 250px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  color: #fb5;
  font-size: 1.75rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  border: 8px solid #fb5;
  margin-top: 80px;
  margin-bottom: 20px;
  text-align: center;
}

.area-container {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 40px 80px;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 45px;
  justify-content: center;
}

.card-area {
  display: grid;
  align-self: end;
}

.area h3 {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 10px;
  text-transform: uppercase;
  display: block;
}

.area h3::before {
    content: '';
    display: inline-block;
    background-color: #fb5;
    height: 10px;
    width: 4px;
    margin-right: 6px;
}

.atuacao .card-area span {
  display: flex;
  max-width: 200px;
  height: 180px;
  background: #d9d9d9;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 4px 6px;
}

.atuacao .card-area span img {
  height: 110px;
  width: 110px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .background-atuacao {
    margin-left: 0px;
  }
  .area-container {
    grid-template-columns: repeat(2, 200px);
    gap: 80px;
  }
}

@media (max-width: 600px) {
  .area-container {
    grid-template-columns: 100px 100px;
    gap: 40px;
    align-items: center;
  }
  .atuacao {
    margin-top: 80px;
    margin-bottom: 0;
  }
  .atuacao h1 {
    font-size: 1.75rem;
  }
  .atuacao h1::before {
    height: 6px;
    width: 45px;
  }
  .background-atuacao {
    padding-bottom: 20px;
    margin-top: 40px;
  }
  .background-atuacao h2 {
    font-size: 1.2rem;
  }
  .background-atuacao a {
    margin-top: 40px;
    font-size: 1.2rem;
    padding: 8px;
    max-width: 200px;
    border: 6px solid;
  }
  .area h3 {
    font-size: 0.8rem;
    text-align: center;
  }
  .area h3::before {
    display: none;
  }
  .area h3::after{
    content: '';
    display: block;
    background-color: #fb5;
    height: 4px;
    width: 10px;
    margin: 0 auto;
}
  .atuacao .card-area span {
    display: flex;
    max-width: 100px;
    height: 80px;
  }
  .atuacao .card-area span img {
    height: 50px;
    width: 50px;
  }
}

/** Sobre **/

.sobre {
  background: #141414;
  padding-bottom: 60px;
  padding-top: 40px;
  box-shadow: inset 0px 80px #292929;
}

.sobre-bg {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 80px;
  padding-left: 110px;
}

.sobre-conteudo {
  flex-wrap: wrap;
}

.sobre-conteudo h3 {
  padding-top: 60px;
  margin-bottom: 50px;
  font-size: 1.75rem;
  font-family: 'Poppins', sans-serif;
  color: #fb5;
  text-transform: uppercase;
}

.sobre-conteudo h3::before {
  content: '';
  display: inline-block;
  background-color: #fb5;
  height: 18px;
  width: 6px;
  margin-right: 8px;
}

.sobre-conteudo p {
  font-size: 1rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6rem;
  padding-bottom: 20px;
  max-width: 600px;
}

.sobre-info {
  margin-top: 30px;
  line-height: 1.2;
}

.sobre-info p {
  color: #d9d9d9;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-size: 0.75rem;
  padding: 0;
  line-height: 1rem;
  max-width: 800px;
  font-weight: bold;
  opacity: 0.5;
}

.sobre-info .nome {
  text-transform: uppercase;
  color: #fb5;
  font-size: 1rem;
  opacity: 1;
}

@media (max-width: 1080px) {
  .sobre-bg {
    grid-template-columns: 1fr;
    justify-items: center;
    padding-left: 20px;
    padding-right: 20px;
    gap: 0;
  }
  .sobre-conteudo h3 {
    font-size: 1.6rem;
    text-align: center;
  }
  .sobre-conteudo p {
    padding-left: 20px;
  }
}

@media (max-width: 600px) {
  .sobre-conteudo h3 {
    padding-top: 30px;
    margin-bottom: 30px;
  }
}

/** Clientes **/

.clientes span {
  display: flex;
  justify-content: end;
}

.clientes h1 {
  margin-top: 130px;
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  color: #fb5;
  text-transform: uppercase;
}

.clientes h1:before {
  content: '';
  margin-left: auto;
  display: block;
  height: 8px;
  width: 60px;
  background: #fb5;
}

.cards-lista {
  display: flex;
  gap: 90px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  flex-wrap: wrap;
  padding: 80px 20px 20px 20px;
}

.cards-lista::before {
  content: '';
  display: inline-block;
  background: url('/img/arrow-left.png');
  width: 20px;
  height: 26px;
  position: relative;
  top: 200px;
}

.cards-lista::after {
  content: '';
  display: inline-block;
  background: url('/img/arrow-right.svg');
  width: 20px;
  height: 26px;
  position: relative;
  top: 200px;
}

.cards-lista li {
  max-width: 320px;
  background: #525252;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 1rem;
  border-radius: 5px;
  padding-top: 60px; 
  padding-bottom: 60px;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 4px 6px;
}

.cards-lista img {
  margin: 0 auto;
  border: 1px solid #717171;
  border-radius: 50%;
}

.cards-lista .card p{
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 0 25px 0 25px;
  color: #d9d9d9;
}

.cards-lista .card p::after{
  content: '';
  display: block;
  background: #fb5;
  width: 25px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 4px;
}

.cards-lista .quote {
  font-style: italic;
}

.cards-lista .card span {
  color: #292929;
  font-weight: bold;
  justify-content: center;
}

@media (max-width: 1440px) {
  .cards-lista {
    gap: 60px;
  }
  .cards-lista::before {
    display: none;
  }
  .cards-lista::after {
    display: none;
  }
  .cards-lista li {
    max-width: 360px;
  }
}

@media (max-width: 600px) {
  .clientes h1 {
    font-size: 1.75rem;
    text-align: end;
    margin-top: 40px;
    line-height: 2rem;
  }
  .clientes h1::before {
    height: 6px;
    width: 45px;
    margin-bottom: 6px;
  }
  .cards-lista {
    padding-top: 40px;
    gap: 40px;
  }
}

/** FAQ **/

.faq {
  background: #141414;
  padding-top: 90px;
  padding-bottom: 90px;
  margin-top: 90px;
}

.faq h1 {
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  color: #fb5;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.faq h1::before {
  content: '';
  display: block;
  height: 8px;
  width: 60px;
  background: #fb5;
}

.faq-content {
  position: relative;
}

.faq-content dl {
  max-width: 600px;
  margin: 0 auto;
}

.faq-content dt{
  color: white;
  background: #525252;
  font-size: 1.25rem;
  font-family: 'Poppins', sans-serif;
  padding: 4px;
  cursor: pointer;
}

.faq-content dt::before{
  content: '';
  display: inline-block;
  position: relative;
  top: 2px;
  background: #fb5;
  height: 18px;
  width: 2px;
  margin-right: 12px;
  margin-left: -10px;
  padding-right: 4px; 
}

.faq-content dd {
  color: white;
  font-family: 'Poppins', sans-serif;
  opacity: 50%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.faq-content img {
  position: absolute;
  left: 47%;
  margin-top: 50px;
}

@media (max-width: 630px) {
  .faq {
    padding-top: 40px;
    margin-top: 40px;
  }
  .faq h1 {
    margin-bottom: 40px;
    line-height: 2rem;
    font-size: 1.75rem;
  }
  .faq h1::before {
    margin-bottom: 6px;
    height: 6px;
    width: 45px;
  }
  .faq-content dl {
    max-width: 400px;
  }
  .faq-content dt::after {
    margin-left: 20px;
  }
  .faq-content img {
    width: 50px;
    height: 50px;
    bottom: -130px;
  }
}

@media (max-width: 440px) {
  .faq-content dl {
    max-width: 320px;
  }
  .faq-content dt {
    font-size: 1.15em;
  }
}

/** Local **/

.local {
  margin: 0 auto;
}

.local h1 {
  margin-top: 130px;
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  color: #fb5;
  text-transform: uppercase;
  margin-bottom: 40px;
} 

.local span {
  display: flex;
  justify-content: end;
}

.local h1:before {
  content: '';
  margin-left: auto;
  display: block;
  height: 8px;
  width: 60px;
  background: #fb5;
}

.mapa {
  max-width: 844px;
  margin: 0 auto;
  margin-bottom: 120px;
  background: #141414;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 4px 6px;
  border-radius: 4px;
}

.mapa h2 {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  color: #fb5;
  text-transform: uppercase;
  margin-left: 40px;
}

.mapa img {
  margin-top: 60px;
  object-fit: fill;
}

.info-container {
  display: grid;
  margin-top: 40px;
  padding-bottom: 60px;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.info-container p {
  color: #d9d9d9;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

.info-container span {
  font-size: 0.75rem;
  font-family: 'Poppins', sans-serif;
  color: #d9d9d9;
  opacity: 20%;
  justify-content: start;
}

.mapa-info {
  grid-column: 1 / 2;
  margin-left: 40px;
  border-left: 2px solid #fb5;
  padding-left: 10px;
}

.mapa-contato {
  margin-left: 40px;
  border-left: 2px solid #fb5;
  padding-left: 10px;
}

.mapa-contato p:not(:last-child){
  margin-bottom: 20px;
}

.info-rua {
  margin-bottom: 20px;
}

@media (max-width: 900px) {
  .info-container {
    gap: 10px;
  }
  .info-container p {
    font-size: 0.8rem;
  }
  .info-container span {
    font-size: 0.625rem;
  }
  .mapa-contato {
    margin-left: 10px;
  }
  .mapa h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    grid-column: 1 / -1;
  }
}

@media (max-width: 600px) {
  .local h1 {
    margin-top: 60px;
    font-size: 1.75rem;
  }
  .local h1::before {
    height: 6px;
    width: 45px;
  }
  .info-container {
    max-width: 100%;
    grid-template-columns: 1fr;
  }
  .mapa {
    margin-bottom: 60px;
  }
  .mapa img {
    margin-top: 0px;
  }
  .mapa-contato {
    margin-top: 20px;
    margin-left: 40px;
  }
}

/** Footer **/

.footer-bg {
  background: #141414;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #9C9C9C;
}

.contato-footer {
  margin-bottom: 16px;
  margin-left: 26px;
}

.contato-footer h3 {
  font-size: 1.5rem;
  color: #fb5;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.contato-footer li{
  margin-bottom: 16px;
}

.contato-footer li:nth-child(even):after {
  content: '';
  display: block;
  max-width: 360px;
  height: 2px;
  background: #fb5;
  opacity: 80%;
  margin-top: 16px;
}

.redes-footer {
  display: flex;
}

.redes-footer img {
  padding: 0 20px 0 0;
  opacity: 60%;
}

.contato-info h3{
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fb5;
  margin-bottom: 16px;
}

.contato-info li {
  margin-bottom: 16px;
  text-decoration: none;
}

.contato-info li a {
  text-decoration: none;
  color: #9C9C9C;
}

.footer-copy {
  grid-column: 1 / -1;
}

@media (max-width: 900px) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }
  .logo-footer {
    display: none;
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
  }
  .contato-footer {
    grid-row: 2;
    margin-left: 0;
  }
  .contato-footer {
    flex-wrap: wrap;
  }
 
}

[data-anime="scroll"] {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: .3s;
}

[data-anime="scroll"].ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

[data-anime="accordion"] dd {
  display: none;
}

[data-anime="accordion"] dt::after {
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  background: url('/img/arrow-down-white.svg') no-repeat center center;
  margin-left: 200px;
  transition: transform .3s;
  width: 12px;
  height: 10px;
}

[data-anime="accordion"] dt.ativo::after {
  content: '';
  transform: rotate(-180deg);
}

[data-anime="accordion"] dd.ativo {
  display: block;
  animation: slideDown .5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    max-height: 200px;
    opacity: 1;
  }
}

