body, h1, h2, h3, ul, li, p, dd, dt, dl {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  cursor: pointer;
}

ul {
  list-style: none;
}

body {
  background: #292929;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 1600px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.header-bg {
  background: #141414;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header img {
  max-height: 200px;
  max-width: 200px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-menu li {
  padding: 20px;
  font-size: 1.25rem;
  display: inline-block;
}

.header-menu a {
  text-decoration: none;
  padding: 16px 0;
  display: inline-block;
  color: #fff;
  position: relative;
}

.header-menu .menu-link::after {
  content: '';
  display: block;
  height: 2px;
  width: 0px;
  background: #fff;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu .menu-link:hover::after {
  width: 100%;
}

.header-menu .botao{ 
  background: #fb5;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: none;
  color: #292929;
  border-radius: 4px;
  font-weight: bold;
  padding: 16px 24px;
  cursor: pointer;
}

.header-menu .botao:hover {
  color: #fff;
}

/** Background **/

.background {
  position: relative;
  background-image: url(/img/background-main.png);
  background-size: cover;
  height: 740px;
}

.background .background-titulo {
  position: absolute;
  margin-top: 320px;
  margin-left: 180px;
  text-transform: uppercase;
  border-left: 8px solid #fb5;
  padding-left: 12px;
}



.background h1 {
  font-size: calc(1rem + 2.5vw);
  line-height: 1.0;
  color: #fff;
}

.background h2 {
  font-size: calc(1rem + 1vw);
  color: #fb5;
}

.header-bg .balanca-icone img{
  left: 50%;
  bottom: -25px;
  position: absolute;
}

/** Área de Atuação **/

.atuacao h1 {
  margin-top: 130px;
  font-size: 2.5rem;
  color: #fb5;
  text-transform: uppercase;
}

.atuacao h1::before {
  content: '';
  display: block;
  height: 6px;
  width: 60px;
  margin-bottom: 4px;
  background: #fb5;
}

.background-atuacao {
  background: #525252;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 4px 6px;
  margin-top: 60px;
  padding-bottom: 60px;
}

.background-atuacao h2 {
  text-align: center;
  color: #fb5;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding-top: 25px;
}

.area-container {
  display: grid;
  grid-template-columns: repeat(4, 165px);
  gap: 80px;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 45px;
  justify-content: center;
}

.card-area {
  display: grid;
  align-self: end;
}

.area h3 {
  font-size: 1rem;
  padding-bottom: 10px;
  text-transform: uppercase;
  display: block;
}

.area h3::before {
    content: '';
    display: inline-block;
    text-align: center;
    background-color: #fb5;
    height: 10px;
    border-radius: 4px;
    width: 4px;
    margin-right: 8px;
    transition: width 0.2s;
}


.atuacao .card-area span {
  display: flex;
  max-width: 165px;
  height: 140px;
  background: #d9d9d9;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 4px 6px;
}

.area .item-7 {
  top: -10px;
}

.atuacao .card-area span img {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}